@model WebMailer.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Cambie su contraseña";
}

<div class="main-container">
    <hgroup class="hgroupA">
        <h1>@ViewBag.Title</h1>
        <h2>Ingrese su dirección de correo electrónico</h2>
    </hgroup>
    <section class="form-container">

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()
            <input name="Code" type="hidden" value="@ViewBag.Code" />
            <input name="Email" type="hidden" value="@ViewBag.Email" />
            <div>
                <span class="editor-field">
                    @Html.PasswordFor(m => m.Password, new { @class = "txt", id = "pwd", placeholder = "Contraseña", maxlength = "20", required = "required", pattern = "^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[@*/\"|°¬!#$%&=?¡¿'´+¨*-.,;:_~´`^^<>^~{}()])[a-zA-Z0-9@*/\"|°¬!#$%&=?¡¿'´+¨*-.,;:_~´`^^<>^~{}()]{6,10}$", title = "Mínimo 6 caracteres, una letra mayúscula, un número y un símbolo."})
                </span>
            </div>

            <div>
                <span>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "txt", id = "pwdConf", placeholder = "Confirmar contraseña", maxlength = "20", required = "required" })
                </span>
            </div>
            <button type="submit" class="btn btn-success btn-outline-light btn-lg">Registrar</button>
        }
    </section>
</div>

@section Scripts
{
    @*<script src="~/Scripts/ResetPassword.js"></script>*@
}